<div class="list-group">

  <div *ngFor="let stolenCar of stolenCars">

    <div class="list-group-item list-group-item-action flex-column align-items-start stolen-car card">

      <div class="d-flex w-100 justify-content-between stolen-car-header">
        <h5 class="mb-1">
          Car #{{stolenCar.id}}
        </h5>
      </div>
      <p class="mb-1">Name: {{stolenCar.name}}</p>
      <p class="mb-1">Stolen: {{stolenCar.isStolen}}</p>
      <hr>
      <button (click)="openConfirmDialog(stolenCar.id)" mat-mini-fab color="warn">
        <mat-icon>remove</mat-icon>
      </button>
      <button [routerLink]="['/car', stolenCar.id]" mat-mini-fab color="primary">
        <mat-icon>near_me</mat-icon>
      </button>

    </div>

  </div>

</div>

<button mat-fab color="primary" id="floating-add-fab" (click)="openNewStolenCarDialog()">
  <mat-icon>add</mat-icon>
</button>
