@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/** GLOBAL STYLE SHEET **/

body {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

button:focus {
  outline: 0;
}

a {
  color: #1565C0;
}

/** MATERIAL COLORS OVERRIDE **/

.mat-snack-bar-container {
  color: #C62828;
}

.text-danger {
  color: #C62828;
}

.mat-fab.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #C62828;
}

.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #1565C0;
}

.mat-dialog-container {
  background: #1565C0;
  color: white;
}

.mat-select-content {
  background-color: white;
}

.mat-primary .mat-option {
  color: black;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #1565C0;
}

.mat-dialog-title {
  font-family: 'Quicksand', sans-serif;
}

.mat-button {
  font-family: 'Quicksand', sans-serif;
}

.mat-form-field-infix {
  font-family: 'Quicksand', sans-serif;
}

.mat-input-element {
  font-family: 'Quicksand', sans-serif;
}

.mat-form-field-should-float .mat-focused {
  color: white;
}

.mat-radio-outer-circle {
  border-color: #AAB8C2;
}
